@{
  Layout = "_Layout";
}

@model PierresMarket.Models.Flavor

<h2>Assign a treat to @Html.DisplayFor(model => model.FlavorType)</h2>

<h4></h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  <p>Select a treat: @Html.DropDownList("TreatId")</p>

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>