@{
  Layout = "_Layout";
}

@model PierresMarket.Models.Flavor

<h4>Add a new Flavor</h4>
@using (Html.BeginForm())
{
  <p>Flavor Type: @Html.TextBoxFor(model => model.FlavorType, new {@class = "form-control", type="text", required="text"})</p>
  
  <input type="submit" value="Add new flavor" />
}
<p>@Html.ActionLink("Show all treats", "Index")</p>