@{
  Layout = "_Layout";
}

@using PierresMarket.Models;
@model IEnumerable<PierresMarket.Models.Flavor>

<h1>Flavors from @User.Identity.Name</h1>

@if (Model.Any())
{
  <div class="aligN">
    <div class="border border-warning">
      <ul>
        @foreach (Flavor flavor in Model)
        {
          <li>@Html.ActionLink($"{flavor.FlavorType}", "Details", new { id = flavor.FlavorId })</li>
        }
      </ul>
    </div>
  </div>
} 
else
{
  <h3>No Flavors have been added yet!</h3>
}

<p>@Html.ActionLink("Add new flavor", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>