@{
  Layout = "_Layout";
}
<body>
  

<h1>Welcome to the To Do List!</h1>
<h3><a href='/categories'>View categories</a></h3>
<h3><a href='/categories/new'>Add a new category</a></h3>
 @* This link below in line #5 is to test for pictures *@
<link rel="stylesheet" type="text/css" href="~/css/styles.css" />
<li><img src='~/img/pizza.jpg'/></li>

@Html.Partial("Footer")
</body>