@{
  Layout = "_Layout";
}

@using PierresMarket.Models;

<h1>Welcome!</h1>


<p>@Html.ActionLink("See All Flavors", "Index", "Flavors")</p> 
<p>@Html.ActionLink("See all Treats", "Index", "Treats")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>

  @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }
