<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My To-Do List!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  
  <body style='background: #000'>  
    
<div class="container">
  <div class="text-center">

  <h1>This Is Thee To-Do-List! Track Your Life Here</h1>
      <main role="main" class="pb-3">
        @RenderBody()
      </main>
    </div>
  </div>

    @Html.Partial("_Footer")
  </body>
</html>