@{
  Layout = "_Layout";
}

@model PierresMarket.Models.Treat

<h2>Add a flavor to @Html.DisplayFor(model => model.TreatName)</h2>

<h4></h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  <p>Select a flavor: @Html.DropDownList("FlavorId")</p>

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>